@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-size: calc(1em + 1vw);
    font-family: 'Luckiest Guy', cursive;
    background-color: lightblue;

}



.gameIcon {
    width: 25vw;
    height: 35vh; 
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 1%; 
    text-align: center;
    font-size: 2vw; 
    font-weight: bold;
    color: black;
    cursor: pointer;
    
}

.gameIcon:hover {
    background-color: lightgreen;
}

.actionContainer {
    width: 100vw;
    height: 10vh;
    background-color: green;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-around;


}

.actionContainer > button {
    width: 20vw;
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 1%; 
    text-align: center;
    font-size: 2vw; 
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.actionContainer > .betButton {
    background-color: lightblue;
    width: 6vw;  
    height: 8vh;  
    border-radius: 50%;  
}

.actionContainer > .betButton.bet25 {
    background-color: lightgreen;
}
.actionContainer > .betButton.bet100 {
    background-color: darkgrey;
}
.actionContainer > .betButton.bet500 {
    background-color: lightblue;
}



.actionContainer > button:hover {
    background-color: lightgreen;
}

.infoDiv {
    margin-top: -6vh;
    width: 100vw;
    height: fit-content;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.infoDiv > span {
    font-size: 2vw;
    font-weight: bold;
    color: black;
    
}



.gameScreen {
    width: 99vw;
    height: 80vh;
    border-radius: 5%;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.dealer_cards {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.player_cards {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.card {
    width: 6vw;
    height: 20vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    display: inline-block;
    margin: 1%; 
    text-align: center;
    font-size: 2vw; 
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-align: left;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    font-size: 3vw;
    font-weight: bold;
    color: black;
    text-align: center;
}